
[access]
	inheritFrom = Public-Projects
[project]
	description = Bug: 132347091
[access "refs/heads/*"]
	create = group pushers-toolchain-*
	forgeCommitter = group pushers-toolchain-*
	label-Code-Review = -2..+2 group pushers-toolchain-*
	label-Verified = -1..+1 group pushers-toolchain-*
	push = group pushers-toolchain-*
	pushMerge = group pushers-toolchain-*
	submit = group pushers-toolchain-*
[access "^refs/tags/llvm-svn.*"]
	create = group pushers-toolchain-*
	createTag = group pushers-toolchain-*
[submit]
	action = rebase if necessary
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
